@import "../../Assets/fonts.scss";
@import "../../Assets/mixin.scss";

// SCREEN WIDTH ---------------------------------

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// COLOUR VARIABLES -----------------------------

$black: #323232;
$white: #ffffff;
$alabaster: #fafafa;
$lightsky: #0095ff;
$darksky: #0065ad;
$blue: #004892;
$darkblue: #002f5f;

// ----------------------------------------------

.modal-form {
  width: 30vw;
  color: $black;
}

.modalbox {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
    margin-bottom: 5%;
  }

  &__subhead {
    margin-bottom: 0.3%;
  }

  &__copy {
    margin-bottom: 7%;
  }
}

.uploadbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;

  &__browse {
    
    border: lightgray solid 2px;
    border-radius: 5px;
    padding: 1%;
    margin-bottom: 2%;
    cursor: pointer;
  }

  &__submit {
    @include h2mobile;
    border: $black solid 2px;
    border-radius: 5px;
    background-color: $black;
    color: $alabaster;
    font-size: 100%;
    padding: 1%;
    
    cursor: pointer;
    
  }
}
