@import "../Assets/fonts.scss";
@import "../Assets/mixin.scss";

// SCREEN WIDTH ---------------------------------

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// COLOUR VARIABLES -----------------------------

$black: #323232;
$white: #ffffff;
$alabaster: #fafafa;
$lightsky: #0095ff;
$darksky: #0065ad;
$blue: #004892;
$darkblue: #002f5f;

// ----------------------------------------------

.gallery {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    // padding: 50px;

    &__item {
        display: flex;
        width: 99%;
    }
}

