@import "../../Assets/fonts.scss";
@import "../../Assets/mixin.scss";

// SCREEN WIDTH ---------------------------------

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// COLOUR VARIABLES -----------------------------

$black: #323232;
$white: #ffffff;
$alabaster: #fafafa;
$lightsky: #0095ff;
$darksky: #0065ad;
$blue: #004892;
$darkblue: #002f5f;

// ----------------------------------------------

.bed3-button1 {
  position: absolute;
  right: 32%;
  bottom: 55%;
  height: 8%;
  width: 8%;
  border-radius: 100%;
  background-color: white;
  opacity: 0.7;

  &:hover {
    background-color: $lightsky;
  }
}

.bed3-button2 {
  position: absolute;
  right: 55%;
  bottom: 5%;
  height: 8%;
  width: 8%;
  border-radius: 100%;
  background-color: white;
  opacity: 0.7;

  &:hover {
    background-color: $lightsky;
  }
}

.bed3-button3 {
  position: absolute;
  right: 80%;
  bottom: 50%;
  height: 8%;
  width: 8%;
  border-radius: 100%;
  background-color: white;
  opacity: 0.7;

  &:hover {
    background-color: $lightsky;
  }
}