@import "../../Assets/fonts.scss";
@import "../../Assets/mixin.scss";

// SCREEN WIDTH ---------------------------------

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// COLOUR VARIABLES -----------------------------

$black: #323232;
$white: #ffffff;
$alabaster: #fafafa;
$lightsky: #0095ff;
$darksky: #0065ad;
$blue: #004892;
$darkblue: #002f5f;

// ----------------------------------------------

.liv3-button1 {
  position: absolute;
  right: 63%;
  bottom: 60%;
  height: 8%;
  width: 8%;
  border-radius: 100%;
  background-color: white;
  opacity: 0.7;

  &:hover {
    background-color: $lightsky;
  }
}

.liv3-button2 {
  position: absolute;
  right: 47%;
  bottom: 8%;
  height: 8%;
  width: 8%;
  border-radius: 100%;
  background-color: white;
  opacity: 0.7;

  &:hover {
    background-color: $lightsky;
  }
}

.liv3-button3 {
  position: absolute;
  right: 53%;
  bottom: 34%;
  height: 8%;
  width: 8%;
  border-radius: 100%;
  background-color: white;
  opacity: 0.7;

  &:hover {
    background-color: $lightsky;
  }
}
