@import "../../Assets/fonts.scss";
@import "../../Assets/mixin.scss";

// SCREEN WIDTH ---------------------------------

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// COLOUR VARIABLES -----------------------------

$black: #323232;
$white: #ffffff;
$alabaster: #fafafa;
$lightsky: #0095ff;
$darksky: #0065ad;
$blue: #004892;
$darkblue: #002f5f;

// ----------------------------------------------

.din2-button1 {
  position: absolute;
  right:48%;
  bottom: 45%;
  height: 8%;
  width: 8%;
  border-radius: 100%;
  background-color: white;
  opacity: 0.7;

  &:hover {
    background-color: $lightsky;
  }
}

.din2-button2 {
  position: absolute;
  right: 70%;
  bottom: 80%;
  height: 8%;
  width: 8%;
  border-radius: 100%;
  background-color: white;
  opacity: 0.7;

  &:hover {
    background-color: $lightsky;
  }
}

.din2-button3 {
  position: absolute;
  right: 45%;
  bottom: 10%;
  height: 8%;
  width: 8%;
  border-radius: 100%;
  background-color: white;
  opacity: 0.7;

  &:hover {
    background-color: $lightsky;
  }
}
