@import "../Assets/fonts.scss";
@import "../Assets/mixin.scss";

// SCREEN WIDTH ---------------------------------

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// COLOUR VARIABLES -----------------------------

$black: #323232;
$white: #ffffff;
$alabaster: #fafafa;
$lightsky: #0095ff;
$darksky: #0065ad;
$blue: #004892;
$darkblue: #002f5f;

// ----------------------------------------------

.footer {
    display: flex;
    flex-direction: column;

    &__copy {
        @include h4abig;
        color: #797979;
        font-size: 80%;
        text-align: center;
        margin-bottom: 1%;
    }

    &__divider {
        margin: 0 auto;
        border-bottom: solid 1px #797979;
        opacity: 0.4;
        width: 83%;
    }
}

