// @mixin fontSize($font-size, $font-weight : 'normal') {
//     font-weight: #{$font-weight};
        
//     @content;
// }

// @mixin backgroundImage($imageUrl) {
//     background: url('../images/#{$imageUrl}') repeat-x;
// }


// MIXINS ---------------------------------------------


@mixin h1mobile { 
    font-family: 'Avenir Bold';
    font-size: 24px;
    line-height: 32px;
}

@mixin h2mobile {
    font-family: 'Avenir Demi';
    font-size: 14px;
    line-height: 22px;
}

@mixin h4mobile {
    font-family: 'Avenir Regular';
    font-size: 13px;
    line-height: 18px;
}

@mixin h5mobile {
    font-family: 'Avenir Regular';
    font-size: 12px;
    line-height: 20px;
}

@mixin h1abig {
    font-family: 'Avenir Bold';
    font-size: 60px;
    line-height: 68px;
}

@mixin h1bbig {
    font-family: 'Avenir Bold';
    font-size: 36px;
    line-height: 44px;
}

@mixin h2big {
    font-family: 'Avenir Bold';
    font-size: 24px;
    line-height: 32px;
}

@mixin h3big {
    font-family: 'Avenir Demi';
    font-size: 16px;
    line-height: 24px;
}

@mixin h4abig {
    font-family: 'Avenir Regular';
    font-size: 14px;
    line-height: 22px;
}

@mixin h4bbig {
    font-family: 'Avenir Regular';
    font-size: 14px;
    line-height: 20px;
}

@mixin h5big {
    font-family: 'Avenir Regular';
    font-size: 12px;
    line-height: 20px;
}